<h1>Blacklist</h1>

<%= link_to 'back', customers_path %><br />

<br />Name Phone Description inBlackList?<hr />
<% @customers.each do |customer| %>
  <br />
  <%= customer.name %>
  <%= customer.phone %>
  <%= customer.description %>
  <%= customer.b_list %>
  <%= link_to 'Remove from black list', customer_path(@customers), method: :patch %>
  <hr />
<% end %>